# various extensions left behind
*.sw[op]
*-
*-HEAD
*-git
*-patched
*-pristine
*.bak
*.cxx-*
*.git
*.hxx-*
*.log
*.orig
*.patched
*.pristine
*.pyc
*.rej
*~
.\#*
*.o
*.DS_Store

# configure autoconf related
/main/Linux*Env.Set*
/main/MacOS*Env.Set*
/main/autom4te.cache
/main/config.guess
/main/config.log
/main/config.parms
/main/config.status
/main/configure
/main/set_soenv
/main/bootstrap
/main/makefile.mk
/main/solver
/main/winenv.set*
/main/Makefile
/main/dmake/*
/main/guw/guw.exe*
/main/warn

# misc
CVS
TAGS
\#*

# id-utils, ctags, cscope
/ID
/tags
/*/ID
/*/tags
/*/cscope.files
/*/cscope.in.out
/*/cscope.out
/*/cscope.po.out

# externals
/main/external/unowinreg/unowinreg.dll
/main/external/msvcp90/*

# $INPATH output directories
/*/*/unxlng??
/*/*/unxlng??.pro
/*/*/wntmsc???
/*/*/wntmsc???.pro
/*/*/wntgcc?
/*/*/wntgcc?.pro
/*/*/unxso???
/*/*/unxso???.pro
/*/*/unxmac??
/*/*/unxmac??.pro
