/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+                          OPENOFFICE.ORG 2.0 HELP                  +
+                          DEFAULT STYLESHEET                       +
+                           WESTERN LANGUAGES                       +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ LAST CHANGES: 15-NOV-2004                                         +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


body, p, h1, h2, h3, h4, h5, h6, .listitem, .listitemintable, .tablecontent, .tablecontentintable
	{ font-family: "Albany AMT",Albany,Arial,"DejaVu Sans","CMU Sans Serif","FreeSans","Nimbus Sans L","Bitstream Vera Sans",Helvetica,Lucida,Geneva,Helmet,"Andale Sans UI","Arial Unicode MS","Lucida Sans Unicode",Tahoma,sans-serif; }

.code, .codeintable, .example, .exampleintable, .literal, .literalintable, .path, .pathintable
	{ font-family: "Cumberland AMT",Cumberland,"Courier New","DejaVu Sans Mono","CMU Typewriter Text","FreeMono","Nimbus Mono L","Bitstream Vera Sans Mono",Courier,"Lucida Sans Typewriter","Lucida Typewriter",Monaco,Monospaced; margin-top: 1pt; margin-bottom: 1pt;}

.acronym 
	{ font-weight: bold; }

.related
	{ font-weight: bold; margin-top:20pt; border-top: 1px solid black;}

.emph, .menuitem, .keycode
	{ font-weight: bold; }

.tablehead, .tableheadintable
	{ font-weight: bold; margin-top: 0px;}

.howtogetheader
	{ font-weight: bold; border: 1px solid #999999; background: #FFFFFF; padding: 3px;}	

h1, h2, h3, h4, h5, h6
	{ margin-bottom: 5pt; }

p, td
	{ font-size: 10pt; margin-top: 2px; margin-bottom: 2px;}

h1
	{ font-size: 18pt; border-bottom: 1px solid black; padding-bottom: 6px; margin-bottom: 6px;}

h2
	{ font-size: 14pt; }

h3
	{ font-size: 12pt; }

h4, h5, h6
	{ font-size: 10pt; }

.relatedtopics
	{ font-weight: normal; }

.relatedbody  
	{ margin-top: 2px; margin-bottom: 2px; margin-left: 5px; }

.howtoget
	{ background:#EEEEEE;}

.howtogetbody
	{ background:#EEEEEE; margin: 0px;}

.wide 
	{ width: 100%; }

.topalign
	 { vertical-align: top; border: 1px;}

.bug 
	{ color: red; border: 1px solid red;}

.debug
	{ border: 1px solid black; padding: 3px; display: none;}
