/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+                          OPENOFFICE.ORG 2.0 HELP                  +
+                      HIGH CONTRAST WHITE STYLESHEET               +
+                           WESTERN LANGUAGES                       +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+ LAST CHANGES: 15-NOV-2004                                         +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


body, p, h1, h2, h3, h4, h5, h6, .listitem, .listitemintable, .tablecontent, .tablecontentintable
	{ font-family: "Lohit Hindi","Bitstream Vera Sans",Arial,Helvetica,Lucida,Geneva,Helmet,sans-serif,"Andale Sans UI","Arial Unicode MS","Lucida Sans Unicode",Tahoma; }

.code, .codeintable, .example, .exampleintable, .literal, .literalintable, .path, .pathintable
	{ font-family: "Lohit Hindi","Bitstream Vera Sans Mono",Cumberland,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",Monaco,Monospaced; margin-top: 1pt; margin-bottom: 1pt;}

.acronym 
	{ font-weight: bold;}

.related
	{ font-weight: bold; margin-top:20pt;}

.emph, .menuitem, .keycode
	{ font-weight: bold; }

.tablehead, .tableheadintable
	{ font-weight: bold; margin-top: 0px;}

.howtogetheader
	{ font-weight: bold; padding: 3px;}	

h1, h2, h3, h4, h5, h6
	{ margin-bottom: 5pt; }

p, td
	{ font-size: 10pt; }

h1
	{ font-size: 18pt; padding-bottom: 6px; margin-bottom: 6px;}

h2
	{ font-size: 14pt; }

h3
	{ font-size: 12pt; }

h4, h5, h6
	{ font-size: 10pt; }

.relatedtopics
	{ font-weight: normal; }

.relatedbody  
	{ margin-top: 2px; margin-bottom: 2px; margin-left: 5px; }

.wide 
	{ width: 100%; }

.topalign
	 { vertical-align: top; border: 1px;}

.bug 
	{ color: red; border: 1px solid red;}


/* HIGH CONTRAST SPECIFIC SETTINGS */

body, p, h1, h2, h3, h4, h5, h6, .listitem, .listitemintable, .tablecontent, .tablecontentintable
	{ background: #FFFFFF; color: #000000;}

.related 
	{ border-top: 1px solid #000000; }

.howtogetheader
	{border: 1px solid #000000; background: #FFFFFF;}

h1 
	{ border-bottom: 1px solid #000000; ]

.howtoget
	{ background:#FFFFFF;}

.howtogetbody
	{ background:#FFFFFF;}

.debug
	{ border: 1px solid red; padding: 3px; display: none;}

a
 { color: #000000; }